version: "3.9"


services:
postgres:
image: postgres:15
container_name: gym_postgres
restart: always
environment:
POSTGRES_DB: gym_routines_db
POSTGRES_USER: postgres
POSTGRES_PASSWORD: postgres
ports:
- "5432:5432"
volumes:
- postgres_data:/var/lib/postgresql/data

backend:
  build: ./backend
  container_name: gym_backend
  restart: always
  env_file:
    - ./backend/.env
  depends_on:
    - postgres
  ports:
    - "8000:8000"